/* Fonts 
 * ========================================================================== */
@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
}



/* General & Variables 
 * ========================================================================== */
:root {

    --cd-btn: #011c37;
    --cd-txt: #15DEA5;

}

$cd-txt: #6300a0;
$cd-box: #c099d8;
$cd-txt--invalid: #fff;
$cd-danger: #b20a37;
$cd-primary:#011c37;

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    // background: #fff;
    //color: var(--cd-txt);
    font-family: Montserrat, Helvetica, sans-serif;
    font-weight: normal; //400
}

h1 {
    color: #5555a8;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 27px;
    border-bottom: 1px dotted black;
    font-weight: bold; // 700 
}

h1:first-child {
    margin: 32px;
    text-align: center;
}

/* Document
 * ========================================================================== */
.container {

    //border: 2px solid limegreen;
    box-shadow: 0px 0px 38px 5px #D1D0D8;
    min-height: 320px;
    border-top: none;
    width: 90%;
    margin: 0 auto;
}



.form {
    &__group {
        margin-bottom: 10px;

        & label {
            padding: 10px 0 0 25px;
            display: inline-block;
            margin-bottom: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }

        & input {
            border: 2px solid $cd-box;
            border-radius: 100rem;
            color: $cd-txt;
            font-family: 'Montserrat', sans-serif;
            font-size: 2.5rem;
            outline: none;
            padding: .5rem 1.5rem;
            width: 70%;
            transition: background-color 500ms;

            &:focus {
                border: 2px solid $cd-txt;
            }

            &:not(:focus):invalid {
                color: $cd-txt--invalid;
                border: 2px solid $cd-danger;
                background: $cd-danger;
            }
        }
    }
}


.btn {
    background: $cd-primary;
    font-size: 1.5rem;
    color: wheat;
    cursor: pointer;
    padding: 0.43rem 1.5rem;
    border-radius: 10rem;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.15);
    }
}