 :root {

     --cd-btn: #011c37;
     --cd-txt: #15DEA5;

 }


 *,
 *::after,
 *::before {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     height: 100%;
 }

 body {
     box-sizing: border-box;
     background: #fff;
     color: var(--cd-txt);
     border: 2px solid steelblue;
     height: 100%;
     font-family: 'Montserrat', sans-serif;
 }

 .container {
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .btn {
     background: var(--cd-btn);
     font-size: 3rem;
     cursor: pointer;
     padding: 1.85rem 3rem;
     border-radius: 10rem;
     transform: scale(1);
     transition: transform 0.3s ease-in-out;
 }

 .btn:hover {
     transform: scale(1.02);
 }

 p {
     border: solid red;

     -webkit-transform: translate(100px) rotate(20deg);
     -webkit-transform-origin: 0 -250px;

     transform: translate(100px) rotate(20deg);
     transform-origin: 0 -250px;
     transition-duration: 0.3s;
 }


 p:fullscreen {
     transform: translate(100px) rotate(0deg);
     transform-origin: 0 0;
 }